@for (destination of destinations(); track destination.id) {
  <div class="destination-card">
    <div class="destination-flag">
      <img alt="Flag of {{ destination.country }}" src="{{ destination.flagUrl }}" />
    </div>
    <div class="destination-content">
      <div class="destination-header">
        <h3 class="destination-title">
          {{ destination.country }}
        </h3>
        <!-- <button id="fav-{{destination.id}}" class="favorite-btn {{isFav ? 'active' : ''}}" title="{isFav ? 'Remove from favorites' : 'Add to favorites'}">
         {isFav ? '❤️' : '🤍'} </button> -->
      </div>
      <div class="destination-info">
        <div class="info-row">
          <span class="info-label">Region:</span>
          <span class="info-value">{{ destination.region }}</span>
        </div>
        <div class="info-row">
          <span class="info-label">Population:</span>
          <span class="info-value">
            {{ destination.population }}
          </span>
        </div>
        <div class="info-row">
          <span class="info-label">Currency:</span>
          <span class="info-value">{{ destination.currency }}</span>
        </div>
      </div>
    </div>
  </div>
}
